<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.18.2" targetFramework="net45" />
  <package id="AWSSDK.Polly" version="3.3.3.1" targetFramework="net45" />
  <package id="Pathoschild.Stardew.ModBuildConfig" version="2.1.0" targetFramework="net45" />
</packages>